#company-info{
    background-color: lightskyblue;
    padding: 15px;
}

#logo{
    margin: 0 auto;
}
h1, h2{
    text-align: center;
    font-weight:bold;

}

h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}

#suggested{
    background-color:  lightskyblue;
    padding: 15px;
}

button{
    margin: 20px 0 10px 0;
}

#photo-cont{
    position: relative;
}

#photo-caption{
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: white;
    font-size: large;
}
